/* ====== Général ====== */
body {
    background-color: #0A192F;
    color: #CCD6F6;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  
  .text-accent {
    color: #64FFDA;
  }
  
  .btn-outline-accent {
    border: 1px solid #64FFDA;
    color: #64FFDA;
    transition: 0.3s;
  }
  .btn-outline-accent:hover {
    background-color: #64FFDA;
    color: #0A192F;
  }
  
  /* ===== Navbar ===== */
  .offcanvas {
    background-color: #1B2A49;
    color: #CCD6F6;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px 0;
  }
  .offcanvas .nav-link {
    color: #CCD6F6;
    transition: color 0.3s ease;
  }
  .offcanvas .nav-link:hover {
    color: #64FFDA;
  }
  nav {
    background-color: #112240;
  }
  
  /* ===== Hero Section ===== */
  #hero_section {
    margin-top: 120px; /* لتجنب تداخل الصورة مع الـnavbar */
    text-align: center;
    padding: 60px 20px;
  }
  #hero_section img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #64FFDA;
    transition: transform 0.3s ease;
  }
  #hero_section img:hover {
    transform: scale(1.05);
  }


#hero_section p {
  color: rgb(225 230 235 / 75%);
}
  
  /* ===== Sections ===== */
  section {
    padding: 80px 0;
  }
  .section-title {
    color: #64FFDA;
    margin-bottom: 40px;
    font-weight: bold;
  }

  /* ===== Cards ===== */
  .card {
    background-color: #112240;
    border: none;
    border-radius: 12px;
    padding: 20px;
    color: #CCD6F6;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(100, 255, 218, 0.3);
  }
  .card h5 {
    color: #0d62e1;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .card a {
    text-decoration: none;
  }

  /* ===== Contact ===== */
  .social-links a {
    color: #64FFDA;
    font-size: 1.8rem;
    margin: 0 15px;
    transition: 0.3s;
  }
  .social-links img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s box-shadow 0.3s;
  }
  .social-links img:hover {
    transform: translateY(10px);
    box-shadow: 2px 4px 8px rgb(82, 82, 82);
  }
  
  /* ===== Footer ===== */
  footer {
    background-color: #112240;
    padding: 20px 0;
    color: #8892B0;
    font-size: 0.9rem;
  }